body{
  padding: 0;
  margin: 0;
    /* background-color: rgb(219, 67, 67); */
  height: 100%;
  background-image: url(images/haze.jfif);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.clock{
    width: 260px;
    height: 260px;
    background-color: rgb(234, 246, 248);
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50%;
    border: 18px solid rgb(179, 221, 226);
    background-image: url('clock.png');
    box-shadow: inset 0px 0px 2px 1px rgba(230, 228, 228, 0), 0px 0px 2px 1px rgba(129, 54, 54, 0);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.clock::after{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    z-index: 4;
}
#second, #minute, #hour{
    position: absolute;
    width: 100%;
    height: 100%;
}
#second{
    z-index: 3;
}
#minute{
    z-index: 2;
}
#hour{
    z-index: 1;
}
#second::before, #minute::before, #hour::before, #second::after{
    content: "";
    display: block;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -100%);
    border-radius: 10px;
}
#second::before{
    width: 1px;
    height: 120px;
    background: red;
}
#second::after{
    width: 1px;
    height: 30px;
    background: red;
    translate: translate(-50%,0);
}
#minute::before{
    width: 2px;
    height: 100px;
    background: rgb(65, 32, 104);
}
#hour::before{
    width: 4px;
    height: 70px;
    background: rgb(31, 1, 1);
}
#digitalClock{
    position: absolute;
    z-index: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f3dede;
    padding: 0 6px 0 6px;
    font-size: 12px;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    box-shadow: inset 0px 0px 2px 2px #d7dff0;
    text-align: center;
    height: 20px;
    width: 60px;
    padding-top: 5px;
    font-weight: 600;
    font-size: 15px;
}
#name{
    position: absolute;
    z-index: 0;
    font-family: Arial, Helvetica, sans-serif ;
    background: #ece6e6;
    padding: 0 6px 0 6px;
    font-size: 12px;
    top: 30%;
    left: 31%;
    transform: translateY(-50%);
    text-align: center;
    height: 25px;
    width: 100px ;
    padding-top: 8px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
@media only screen and (min-width:1500px){
    .info{
     position: fixed;
     bottom: 0;
     right: 0;
     color: #d2fbfd;
     font-family: 'Times New Roman', Times, serif;
    }
}
.credits{
    position: absolute;
    bottom: 0 auto;
    left: 0 auto;
    color: #d2fbfd;
    font-family: 'Times New Roman', Times, serif;
}
#demo, #loc{
    font-family: 'Source Code Pro', monospace;
    font-size: large;
    color: rgb(73, 27, 116);
}
#feelslike, #humidity, #wind{
    /* display: inline; */
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #ecf0e8;
}
/* footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(223, 223, 223);
    color: rgb(20, 126, 11);
    text-align: center;
} */
 #temp{
    font-size: 60px;
    font-family: 'Fira Sans', sans-serif;
    color: #eedfdf;
    margin: 10px;
}
#weather{
    font-size: 35px;
    font-family: 'Fira Sans', sans-serif;
    color:  #f3e3e3;
    margin: 0;
}

.weather{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* padding-top: 10px;  */
}
/* Loader css */
/* body {
  background: #efefef;
} */
/* @import "compass/css3";
.preloader {
	position: absolute;
	margin-left: -55px;
	margin-top: -100px;
	height: 110px;
	width: 110px;
	left: 50%;
	top: 50%;
}
svg {
  width: 110px;
  height: 110px;
}
path {
  stroke: #9ea1a4;
  stroke-width: 0.25;
  fill: #241E20;
}
#cloud {
  position: relative;
  z-index: 2;
}
#cloud path {
  fill: #efefef;
}
#sun {
  margin-left: -10px;
  margin-top: 6px;
  opacity: 0;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 45px;
  top: 15px;
  z-index: 1;
  animation-name: rotate;
  animation-duration: 16000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#sun path {
  stroke-width: 0.18;
  fill: #9ea1a4;
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
} */
/* Rain */
/* .rain {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-top: -32px;
  margin-left: 19px;
}
.drop {
  opacity: 1;
  background: #9ea1a4;
  display: block;
  float: left;
  width: 3px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0px 0px 6px 6px;
  animation-name: drop;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
}
.drop:nth-child(1) {
  animation-delay: -130ms;
}
.drop:nth-child(2) {
  animation-delay: -240ms;
}
.drop:nth-child(3) {
  animation-delay: -390ms;
}
.drop:nth-child(4) {
  animation-delay: -525ms;
}
.drop:nth-child(5) {
  animation-delay: -640ms;
}
.drop:nth-child(6) {
  animation-delay: -790ms;
}
.drop:nth-child(7) {
  animation-delay: -900ms;
}
.drop:nth-child(8) {
  animation-delay: -1050ms;
}
.drop:nth-child(9) {
  animation-delay: -1130ms;
}
.drop:nth-child(10) {
  animation-delay: -1300ms;
}
@keyframes drop {
  50% {
    height: 45px;
    opacity: 0;
  }
  51% {
    opacity: 0;
  }
  100% {
    height: 1px;
    opacity: 0;
  }
}
.text {
	font-family: Helvetica, 'Helvetica Neue', sans-serif;
	letter-spacing: 1px;
	text-align: center;
	margin-left: -43px;
	font-weight: bold;
	margin-top: 20px;
	font-size: 11px;
	color: #a0a0a0;
	width: 200px;
}
 */

.toggle{
   position: relative;
   margin-top: 10px;
  }

.btn{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #efefef;
  font-weight: 300;
}

#loc{
  font-family: 'Nunito', sans-serif;
  color: #eaece4;
}